<template>
  <q-page>
    <q-breadcrumbs>
      <q-breadcrumbs-el label="Home" to="/" />
      <q-breadcrumbs-el :label="title" />
    </q-breadcrumbs>
    <div class="text-h2 text-weight-medium text-left text-capitalize q-py-md">{{ title }}</div>

    <div class="row justify-between">
      <router-link class="my-card" v-for="n in 6" :key="n" to="/product">
        <q-card flat bordered>

          <img src="https://cdn.quasar.dev/img/mountains.jpg">

          <q-card-section>

            <div class="row no-wrap items-center">

              <div class="col text-h6 ellipsis">
                TITLE {{ n }}
              </div>
            </div>

          </q-card-section>

          <q-card-actions class="justify-between q-pa-md">
            <div>£40.00</div>
            <div>
              <q-btn  flat round color="red" icon="favorite" v-if="store.loggedIn" />
              <q-btn flat round color="teal" icon="bookmark" v-if="store.loggedIn" />
              <q-btn flat round color="primary" icon="shopping_cart" />
            </div>
          </q-card-actions>


        </q-card>
      </router-link>
    </div>

  </q-page>
</template>
<script setup>
import { ref } from 'vue';
import { useUserStore } from "../../stores/user-store";

const props = defineProps(['title']);

const store = useUserStore();

</script>
<style scoped>
.my-card {
  max-width: 30%;
  height: 20vw;
  text-decoration: none;
  color: black;
  margin: 20px 10px;
}
</style>