<template>
  <q-page>
    <div class="q-pa-md q-gutter-sm">
      <q-banner v-if="!isActive" rounded class="bg-purple-8 text-white">
        Currently, you don't have any item in the basket.
        <template v-slot:action>
          <q-btn flat color="white" label="Go shopping" to="/"/>
        </template>
      </q-banner>
    </div>
  </q-page>
</template>

<script>
import { computed } from 'vue';
import { useBasketStore } from '../stores/basket-store';

export default {
  setup() {
    const basket = useBasketStore();

    const isActive = computed(() => basket.itemsCount > 0 ? true : false)

    return {
      isActive
    }
  },
}
</script>
