<template>
  <ProductsDisplayer :title="title" />
</template>
<script>
import ProductsDisplayer from "../components/products/ProductsDisplayer.vue";
export default {
  components: {
    ProductsDisplayer,
  },
  data() {
    return {
      title: this.$route.fullPath.slice(1),
    };
  },
};
</script>
