<template>
  <q-page>

    <q-breadcrumbs>
      <q-breadcrumbs-el label="Home" to="/" />
      <q-breadcrumbs-el label="category" />
      <q-breadcrumbs-el label="product" />
    </q-breadcrumbs>

    <q-card class="my-card" flat bordered>
      <q-card-section horizontal>
        <q-card-section class="q-pt-xs">
          <div class="text-h5 q-mt-sm q-mb-xs">Title</div>
          <div class="text-caption text-grey">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae volutpat erat. Suspendisse ut vulputate
            tellus, sit amet eleifend urna. Nunc augue libero, malesuada nec imperdiet sed, fringilla at lectus. Phasellus
            rutrum nec purus ut efficitur. Maecenas orci nisi, molestie vel velit vitae, posuere faucibus ipsum. Praesent
            eleifend enim eu justo rutrum ullamcorper. In arcu arcu, convallis quis consequat at, dapibus vel nisi.
          </div>
          <div class="row no-wrap items-center q-py-lg">
            <q-rating size="18px" v-model="stars" :max="5" color="primary" />
            <span class="text-caption text-grey q-ml-sm">4.2 (551)</span>
          </div>
        </q-card-section>

        <q-card-section class="col-5 flex flex-center">
          <q-img class="rounded-borders" src="https://cdn.quasar.dev/img/mountains.jpg" />
        </q-card-section>
      </q-card-section>

      <q-separator />

      <q-card-actions class="justify-between q-pa-md">

        <q-btn flat color="primary">
          add to basket
        </q-btn>

        <q-card-actions align="right">
          <q-btn flat round color="red" icon="favorite" v-if="store.loggedIn" />
          <q-btn flat round color="teal" icon="bookmark" v-if="store.loggedIn" />
          <q-btn flat round color="primary" icon="share" />
        </q-card-actions>

      </q-card-actions>
    </q-card>

  </q-page>
</template>
<script setup>
import { ref } from 'vue'
import { useUserStore } from "../stores/user-store";

const stars = ref(4);
const store = useUserStore();

</script>
<style scoped>
.my-card {
  margin-top: 50px;
  width: 100%;
}
</style>