<template>
  <q-layout view="hHh lpr fFf">
    <q-header elevated>
      <q-toolbar class="bg-purple text-white shadow-2 rounded-borders">
        <q-btn flat label="Homepage" to="/" />
        <q-space />

        <!--
        notice shrink property since we are placing it
        as child of QToolbar
      -->
        <q-tabs v-model="tab">
          <EssentialLink
            v-for="link in essentialLinks"
            :key="link.title"
            v-bind="link"
          />

          <q-route-tab
            to="/basket"
            name="basket"
            label="basket"
            v-if="user.loggedIn"
          />

          <div class="row" v-else>
            <q-tab label="Login" @click="login = true" />
            <q-tab label="Register" @click="register = true" />
          </div>
        </q-tabs>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <q-dialog v-model="login">
        <UserDialog label="Log in" :toggle="login" />
      </q-dialog>

      <q-dialog v-model="register">
        <UserDialog label="Register" type="register" :toggle="register" />
      </q-dialog>

      <router-view :key="$route.path" />
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, ref } from "vue";
import EssentialLink from "components/EssentialLink.vue";
import UserDialog from "components/dialogs/UserDialog.vue";
import { useUserStore } from "../stores/user-store";

const linksList = [
  {
    title: "Docs",
    link: "/docs",
  },
  {
    title: "Github",
    link: "/github",
  },
  {
    title: "Discord Chat Channel",
    link: "/discord",
  },
  {
    title: "Forum",
    link: "/forum",
  }
];

export default defineComponent({
  name: "MainLayout",

  components: {
    EssentialLink,
    UserDialog,
  },

  setup() {
    const user = useUserStore();

    return {
      user,
      essentialLinks: linksList,
      tab: ref(linksList.title),
      login: ref(false),
      register: ref(false),
    };
  },
});
</script>

<style>
.dialog {
  max-height: 50vh;
  width: 30vw;
  min-width: 300px;
}
.q-page {
  width: 60vw;
  margin: 0 auto;
}
</style>

