<template>
  <q-card>
    <q-card-section>
      <div class="text-h6">{{label}}</div>
    </q-card-section>

    <q-card-section class="dialog">

      <q-input v-model="email" filled type="email" label="Email" />
      <q-input v-model="password" filled type="password" label="Password" class="q-my-sm"/>
      <q-input v-model="password" filled type="password" label="Password" class="q-my-sm" v-if="type === 'register'"/>
      <q-btn flat :label="label" color="primary" v-close-popup />

    </q-card-section>

  </q-card>
</template>
<script>
import { defineComponent } from "vue";

export default defineComponent({

    props:['type', 'label'],

    data(){
        return{
            email: '',
            password: ''
        }
    }
});
</script>
